body {
  color: #444345;
}

.pcc-blue-background {
  background-color: #6396B4;
}

.pcc-green-background {
  background-color: #94BD49;
}

.pcc-orange-background {
  background-color: #CC6203;
}

.pcc-purple-background {
  background-color: #8982BE;
}

.pcc-light-grey-background {
  background-color: #EFEFEF;
}

.pcc-dark-grey-background {
  background-color: #444345;
}

.pcc-link {
  color: #CC6203;
}

.navbar-brand {
  color: white !important;
}

.navbar-default {
  background-color: #94BD49;
}

.highlight {
  background-color: #CC6203;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-primary {
  background-color: #94BD49;
  border: 1px solid #94BD49;
}

.btn-primary:hover {
  background-color: #444345;
  border: 1px solid #444345;
}

.btn-primary:active {
  background-color: #444345;
  border: 1px solid #444345;
}

.btn-primary:focus {
  background-color: #444345;
  border: 1px solid #444345;
}

a {
  color: #CC6203;
}

a:hover {
  color: #CC6203;
}

.navbar-link {
  color: #CC6203 !important;
}

.navbar-link:hover {
  color: #CC6203 !important;
}

#grandTotalBoard {
  
}

#grandTotalBoard h1 {
  text-align: center;
  font-size: 42px;
}

#grandTotalScore {
  background-color: #94BD49;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 52px;
}

.topScoreTable {
  margin-left: 15px;
}

.scoreBar {
  margin: 6px;
  margin-left: 20px;
  height: 75px;
}

.teamName {
  font-size: 24px;
  text-align: right;
  font-weight: bold;
}

.teamScore {
  font-size: 28px;
  text-align: right;
}

.bottomNavigation {
  text-align: right;
}