<div class="container" ng-controller="budgetController">
  <div class="page-header">
    <h1>
      {{budget.date | date:'MMMM yyyy'}}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Income <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showIncomeDetails()">details</button></h3>
        </div>
        <div class="panel-body">
          <table style="width: 100%" class="budgetSummary">
            <tr><td>$100.00</td><td>$120.00</td><td>$20.00</td></tr>
            <tr><th>Budget</th><th>Actual</th><th>Difference</th></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Expenses <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="showExpenseDetails()">details</button></h3>
        </div>
        <div class="panel-body">
          <table style="width: 100%" class="budgetSummary">
            <tr><td>$100.00</td><td>$120.00</td><td>$20.00</td></tr>
            <tr><th>Budget</th><th>Actual</th><th>Difference</th></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Totals</h3>
        </div>
        <div class="panel-body">
          <table style="width: 100%" class="budgetSummary">
            <tr><td>$100.00</td><td>$120.00</td><td>$20.00</td></tr>
            <tr><th>Budget</th><th>Actual</th><th>Difference</th></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="showDetails" class="ng-hide">
    <h3>{{detailTitle}}</h3>
    <hr/>
  </div>

  <div class="row" ng-show="showDetails" class="ng-hide">

    <div class="col-md-3">
      <div class="list-group" ng-show="categories.length">
        <a href="" ng-repeat="category in categories" class="list-group-item">{{category.name}}</a>
      </div>
      <a href="">Add new category ...</a>
    </div>

    <div class="col-md-9">
      
    </div>
  </div>
  

</div>