<div class="container" ng-controller="loginController">

  <div class="page-header">
    <h2>Enter your <span class="highlight">region</span> and <span class="highlight">table</span> numbers</h2>    
  </div>

  <form name="loginForm" class="form-horizontal" novalidate="novalidate">
    <div class="form-group form-group-lg">
      <label for="regionNumber" class="col-sm-2 control-label">Region Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="regionNumber" placeholder="Region Number" maxlength="2" ng-model="team.regionNumber" min="1" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group form-group-lg">
      <label for="tableNumber" class="col-sm-2 control-label">Table Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="tableNumber" placeholder="Table Number" maxlength="2" ng-model="team.tableNumber" min="1" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group form-group-lg" ng-show="!loginForm.regionNumber.$error.required && !loginForm.tableNumber.$error.required">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-primary btn-lg" ng-click="onLoginClick()">Start</button>
      </div>
    </div>
  </form>

</div>