<div class="container" ng-controller="securityController">

  <div ng-controller="scoreController">

    <div class="page-header">
      <h2>{{teamName}}</h2>
      <a ng-click="onSwitchTeamClick()">Switch Team</a>
    </div>

    <form name="scoreForm" class="form-inline">
      <div class="form-group form-group-lg">
        <input type="number" class="form-control" name="scoreEntry" placeholder="Enter New Score" maxlength="5" ng-model="scoreEntry" autocomplete="off" required>
      </div>
      <button ng-show="!scoreForm.scoreEntry.$error.required" type="button" class="btn btn-primary btn-lg" ng-click="onAddScoreClick()">Add</button>
    </form>

    <br/>

    <table class="table table-striped">
      <tr>
        <th>Round</th>
        <th>Score</th>
      </tr>
      <tr ng-repeat="score in scores">
        <td>{{score.roundNumber}}</td>
        <td><div contenteditable="true" ng-model="score.scoreValue" ng-change="onScoreChange(this, score.id, {{score.scoreValue}}, score.scoreValue)"></div></td>
      </tr>
    </table>

    <span ng-show="!scores.length">No score found. Start by entering the score for round 1 above.</span>

  </div>

</div>