<div class="container" ng-controller="securityController">

  <div ng-controller="scoreController">

    <h2>Region <span class="highlight">{{teamRegionNumber}}</span> Table <span class="highlight">{{teamTableNumber}}</span></h2>
    <a ng-show="amISuperUser" ng-click="onSwitchTeamClick()">Switch Team</a>
    
    <hr/>

    <form name="scoreForm" class="form-inline">
      <div class="form-group form-group-lg">
        <input type="number" class="form-control" name="scoreEntry" placeholder="Enter New Score" maxlength="5" ng-model="scoreEntry" autocomplete="off" required>
      </div>
      <button ng-show="!scoreForm.scoreEntry.$error.required" type="button" class="btn btn-primary btn-lg" ng-click="onAddScoreClick()">Add</button>
    </form>

    <br/>

    <table class="table table-striped" ng-show="scores.length">
      <tr>
        <th>Round</th>
        <th>Score</th>
      </tr>
      <tr ng-repeat="score in scores">
        <td>{{score.roundNumber}}</td>
        <td contenteditable="true" ng-model="score.scoreValue" ng-change="onScoreChange(this, score.id, {{score.scoreValue}}, score.scoreValue)" class="pcc-link"></td>
      </tr>
    </table>

    <br/>

    <div>
      <div class="bottomNavigation">
        <a href="#/leaderboard">Leaderboard</a>
      </div>
      
      <hr/>
      <h4>Instructions</h4>
      <ul>
        <li>Before entering scores, <strong>please ensure that you have entered the correct region and table numbers</strong>.</li>
        <li>Once the first round is complete, you will be given a score to enter in the box above.</li>
        <li>You will need to do so after you complete each round. The round number will be automatically incremented.</li>
        <li>If you make a mistake entering a score, tap on the score value and edit it.</li>
        <li>If you have any questions, please talk to your marshal.</li>
      </ul>
    </div>

  </div>

</div>