<div class="container-fluid" style="margin: 20px;" ng-controller="scoreboardController">

  <div id="grandTotalBoard">
    <h1>PCC Product Development Team Total</h1>
    <h1><span id="grandTotalScore">{{grandTotal.score_total}} / 227200</span></h1>
  </div>

  <br/>

  <h2>Top 3 Tables</h2>
  <hr/>
  <table class="topScoreTable">
    <tr ng-repeat="tableTotal in tableTotals" on-finish-render="ngRepeatFinished">
      <td nowrap>
        <div class="teamName">Table {{tableTotal.table_number}}</div>
        <div class="teamScore">{{tableTotal.score_total}}</div>
      </td>
      <td>
        <div data-score="{{ tableTotal.score_total }}" class="scoreBar tableScoreBar pcc-orange-background" style="width: 0px;"></div>
      </td>
    </tr>
  </table>

  <h4 ng-show="!tableTotals.length">No table scores yet.</h4>

  <br/>

  <h2>Top 3 Regions</h2>
  <hr/>
  <table class="topScoreTable">
    <tr ng-repeat="regionTotal in regionTotals" on-finish-render="ngRepeatFinished">
      <td nowrap>
        <div class="teamName">Region {{regionTotal.region_number}}</div>
        <div class="teamScore">{{regionTotal.score_total}}</div>
      </td>
      <td>
        <div data-score="{{ regionTotal.score_total }}" class="scoreBar regionScoreBar pcc-blue-background" style="width: 0px;"></div>
      </td>
    </tr>
  </table>

  <h4 ng-show="!regionTotals.length">No region scores yet.</h4>

</div>